.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.yoga-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media only screen and (max-width: 767px) {
    .yoga-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
  }

.cart{
    border: 1px solid gray;
    padding: 5px;
    background-color: darkgrey;
}
.time-style{
    background-color: bisque;
}