.cart-container img{
    height: 288px;
    width: 100%;
    border-radius: 10px;

    
}
.cart-container{
    height: 540px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
}
.cart-text{
margin: 8px;

}
.button-cart{
    width: 100%;
    background-color: tomato;
    color: white;
}