.site-cart img{
    height: 70px;
    width: 70px;
    
}
.site-cart{
    display: flex;
    align-items: center;
}
.bg-color{
    background-color: gray;
    color: white;
}
.time-style{
    display: flex;
    padding: 15px;
    background-color: gray;
    border-radius: 5px;
}